.container {
  display: flex;
  justify-content: space-around;
  margin: 5% 10% 5% 10%;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
}
#square {
  width: 100px;
  height: 100px;
  background: blue;
}

#rectangle {
  width: 200px;
  height: 100px;
  background: orange;
}
#circle {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid purple;
}
#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid cyan;
}
#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid peru;
  border-bottom: 50px solid transparent;
}
#outer-circle {
  width: 100px;
  height: 100px;
  position: relative;
  background: green;
  border-radius: 50%;
}
#inner-circle {
  margin: 15%;
  width: 70px;
  height: 70px;
  position: absolute;

  background: white;
  border-radius: 50%;
}
